<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorId</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<CascadingAuthenticationState>
    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <AuthorizeView Roles="Administrator">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categories">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Categories
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categorytrainings">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Trainings
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="classrooms">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Classrooms
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="courses">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Courses
                    </NavLink>
                </div>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="users">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Users
                        </NavLink>
                    </div>           
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="claims">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Claims
                        </NavLink>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="trainings">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Trainings
                        </NavLink>
                    </div>                   
                </NotAuthorized>
            </AuthorizeView>
        </nav>
    </div>
</CascadingAuthenticationState>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
