@page "/dailyAttendances"
@using BlazorId.Shared;
@using Microsoft.AspNetCore.Authorization;
@inject HttpClient client;

@attribute [Authorize]

<h3>Presence:@today.ToShortDateString()</h3>
@if (userCourses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container-fluid">
        <table class="table table-light table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Presence</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userCourse in userCourses)
                {
                    <tr>
                        <td>@userCourse.UserName</td>
                        <td>
                            <InputRadioGroup @bind-Value="@userCourse.IsPresent">
                                <InputRadio Value="true" /> Yes
                                <InputRadio Value="false" />No
                            </InputRadioGroup>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-success"
                @onclick="(() => Save(userCourses))">
            Save
        </button>
    </div>
}
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private string? userName;
    private UserCourse? userCourse;
    private List<UserCourse>? userCourses;
    private int courseId;
    private DateTime today = DateTime.Now;
    private DailyAttendance dailyAttendance;
    
    protected override async Task OnInitializedAsync()
    {
        // Extract the name of the current teacherlogged in user Claim
        userName = (await authenticationStateTask).User.Identity!.Name;
        // get userCourses of teachers
        userCourses = await client.GetFromJsonAsync<List<UserCourse>>("api/UserCourses/Courses/" + userName);
        // find current userCourse
        userCourse = userCourses!.Find(u => u.Course!.StartDate <= DateTime.Today &&
         u.Course!.EndDate >= DateTime.Today)!;
         //extract couseID
        courseId = userCourse!.Course!.Id;
        // get student's notes
        userCourses = await client.GetFromJsonAsync<List<UserCourse>>("api/UserCourses/Users/" + courseId);
        
            
    }

    private async Task Save(List<UserCourse> userCourses)
    {
        
        foreach (var userCourse in userCourses)           
        {    
            dailyAttendance = new DailyAttendance{};
            dailyAttendance.DailyDate = today;
            dailyAttendance.UserCourseId = userCourse.Id;
            dailyAttendance.IsPresent = userCourse.IsPresent;          
           await client.PostAsJsonAsync("api/DailyAttendances", dailyAttendance);
        }
    }
}

